html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(https://cdn.shopify.com/s/files/1/2098/0315/files/tipos-escritorio-satisfacer-distintas-necesidades.jpg?v=1620914512);
    color: rgb(28, 3, 3);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
}

.contenedor1 {
    height: 50%;
    width: 70%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
}

h2 {
    text-align: center;
    font-size: 2.3rem;
}

.formularioDeDatos {
    width: 50%;
    margin: 1rem auto;
    background: rgba(5, 7, 12, 0.40);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.formularioDeDatos input {
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    outline: 0;
    border: 0;
    color: white;
}

.formularioDeDatos input:active {
    border-bottom: 1px solid rgb(223, 217, 217);
}

.formularioDeDatos input:focus {
    border-bottom: 1px solid rgb(215, 207, 207);
}

.formularioDeDatos button {
    margin: 1rem 0rem;
    background-color: rgb(34, 9, 9);
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 10px;
    color: white;
}

.listadoTareas {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    font-size: 100%;
}

.icono {
    color: rgb(194, 148, 32);
    cursor: pointer;
}