body {
    background-color: #f0a242;
}

h2 {
    color: rgb(251, 251, 250);
    text-shadow: rgb(251, 92, 12) 0.1em 0.1em 0.2em;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 50px;
}

.contenedor1 {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 70%;
    margin: 1rem auto;
}

.formularioDeDatos {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formularioDeDatos input {
    background: rgba(187, 230, 149, 0.4);
    padding: 15px;
    outline: 0;
    border: 0;
    line-height: 10px;
    margin: 10px;
    color: white;
    border-radius: 20px;
}

.formularioDeDatos input:active {
    border-bottom: 1px solid rgb(221, 212, 212);
}

.formularioDeDatos input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.formularioDeDatos button {
    margin: 1rem 0rem;
    background: rgba(240, 122, 67, 0.4);
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 20px;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    text-shadow: rgb(136, 22, 22) 0.1em 0.1em 0.2em;
}

::placeholder {
    color: rgb(255, 255, 255);
    text-shadow: rgb(15, 13, 13) 0.1em 0.1em 0.2em;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
}

.listadoTareas {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 20px;
    font-family: 'Mouse Memoirs', sans-serif;
}

.tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 17px;
    color: rgb(250, 249, 245);
    text-shadow: rgb(43, 4, 4) 0.1em 0.1em 0.2em;
    align-items: stretch;
}

.icono {
    color: rgb(241, 141, 92);
    text-shadow: black 0.1em 0.1em 0.2em;
    cursor: pointer;
    padding: 20px;
}

.inicial {
    color: rgb(241, 141, 92);
    text-shadow: black 0.1em 0.1em 0.2em;
}